.MonsterGroupListElement {
  font-size: var(--font-size-normal);
  width: 15em;
  margin: calc(0.5 * var(--vertical-spacing));
}

.MonsterGroupListElement-Card {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid lightgrey;
}

.MonsterGroupListElement-selected
  > .MonsterGroupListElement-Card {
  background-color: rgba(46, 89, 206, 0.2);
}

.MonsterGroupListElement-clickable
  > .MonsterGroupListElement-Card {
  cursor: pointer;
}

.MonsterGroupListElement-clickable:hover
  > .MonsterGroupListElement-Card {
  background-color: rgba(92, 92, 105, 0.1);
}

.MonsterGroupListElement-Checkbox {
  flex: none;
  position: relative;
  display: block;
  width: 1.1em;
  height: 1.1em;
  border: 2px solid black;
}

.MonsterGroupListElement-Checkbox::before {
  content: '';
  display: block;
  position: absolute;
  top: -0.2em;
  left: 0.2em;
}

.MonsterGroupListElement-selected
  .MonsterGroupListElement-Checkbox::before {
  content: 'x';
  font-weight: bold;
}

.MonsterGroupListElement-Label {
  margin-left: var(--vertical-spacing);
}
