.BossGroupStats {
  display: flex;
  flex-flow: column;
  padding: calc(0.5 * var(--vertical-spacing));
}

.MonsterConditionsImmunity,
.MonsterSpecials,
.MonsterNotes {
  margin-top: var(--vertical-spacing);
}
