.MonsterGroupTracker {
  font-size: 1rem;
  width: 45em;
  padding: var(--vertical-spacing);
  overflow: hidden;
}

.MonsterGroupTracker-Header {
  font-size: var(--font-size-large);
  display: flex;
  flex-flow: row;
  align-items: baseline;
}

.MonsterGroupTracker-MonsterName {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MonsterGroupTracker-GroupLevel {
  flex: none;
  margin-left: auto;
}

.MonsterGroupTracker-Stats {
  font-size: var(--font-size-normal);
  margin-top: var(--vertical-spacing);
}
