.Scrollable {
  --scrollable-overlay-height: var(--vertical-spacing);
  --scrollable-overlay-color: white;

  position: relative;
  overflow: hidden;
  height: 100%;
}

.Scrollable::before,
.Scrollable::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  height: var(--scrollable-overlay-height);
  width: 100%;
}

.Scrollable::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    var(--scrollable-overlay-color) 5%,
    transparent
  );
}
.Scrollable-Wrapper {
  position: relative;
  z-index: 0;
  overflow-y: auto;
  padding: var(--scrollable-overlay-height) 0;
  height: 100%;
}
.Scrollable::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    var(--scrollable-overlay-color) 5%,
    transparent
  );
}
