.Scrollable {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.Scrollable::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 3em;
  width: 100%;
  background: linear-gradient(white 5%, transparent);
}

.Scrollable::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 3em;
  width: 100%;
  background: linear-gradient(
    to top,
    white 5%,
    transparent
  );
}
.Scrollable-Wrapper {
  position: relative;
  overflow-y: auto;
  padding: 3em 0;
  height: 100%;
}
