.CommonGroupStats-Normal,
.CommonGroupStats-Elite {
  padding: calc(0.5 * var(--vertical-spacing));
}

.CommonGroupStats-Elite {
  margin-top: var(--vertical-spacing);
  background-color: var(--elite-monster-color);
}

.MonsterTraits {
  margin-top: var(--vertical-spacing);
}
