.MonsterTraits {
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
}

.MonsterTraits-Label,
.MonsterTraits-Element {
  font-size: 1.5em;
  display: inline;
}

* ~ .MonsterTraits-Element {
  margin-left: 1em;
}
