.MonsterTraits {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.MonsterTraits-Label,
.MonsterTraits-Element {
  display: inline;
}

* ~ .MonsterTraits-Element {
  margin-left: 1em;
}
