.MonsterConditionsImmunity-Wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-top: calc(-0.5 * var(--vertical-spacing));
}

.MonsterConditionsImmunity-Label {
  font-weight: bold;
}

* ~ .MonsterConditionsImmunity-Element {
  margin-left: 1em;
  margin-top: calc(0.5 * var(--vertical-spacing));
}
