.MonsterTraits-Wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-top: calc(-0.5 * var(--vertical-spacing));
}

.MonsterTraits-Label {
  font-weight: bold;
}

* ~ .MonsterTraits-Element {
  margin-left: 1em;
  margin-top: calc(0.5 * var(--vertical-spacing));
}
