.MonsterGroupTracker {
  font-size: 1rem;
}

.MonsterGroupTracker > .Card {
  padding: 1em;
  height: 100%;
}

.MonsterGroupTracker-Header {
  font-size: 2.5em;
  display: flex;
  display: row;
}

.MonsterGroupTracker-MonsterName {
  flex: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MonsterGroupTracker-GroupLevel {
  flex: none;
  margin-left: auto;
}

.MonsterGroupTracker-Stats {
  margin-top: 1em;
}
