.MonsterBasicStats {
  display: flex;
  flex-flow: row;
  padding: 0.5em;
}

* ~ .MonsterBasicStats-Element {
  margin-left: 1em;
}

.MonsterBasicStats-Label {
  font-weight: bold;
}

.MonsterBasicStats-Value {
  text-align: center;
  display: inline-block;
  width: 3em;
}
