.MonsterSpecials {
  display: flex;
  flex-flow: column;
  padding: 0.5em;
}

.MonsterSpecials-Element {
  display: flex;
  flex-flow: column;
}

* ~ .MonsterSpecials-Element {
  margin-top: 0.5em;
}

.MonsterSpecials-Label {
  font-weight: bold;
}

.MonsterSpecials-Action {
  margin-left: 1em;
  margin-top: 0.5em;
}
