.MonsterSpecials {
  display: flex;
  flex-flow: column;
}

.MonsterSpecials-Element {
  display: flex;
  flex-flow: column;
}

* ~ .MonsterSpecials-Element {
  margin-top: var(--vertical-spacing);
}

.MonsterSpecials-Label {
  font-weight: bold;
}

.MonsterSpecials-Action {
  margin-left: 1em;
  margin-top: calc(0.5 * var(--vertical-spacing));
}
