.MonsterConditionsImmunity {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding: 0.5em;
}

.MonsterConditionsImmunity-Label {
  font-weight: bold;
}

* ~ .MonsterConditionsImmunity-Element {
  margin-left: 1em;
}
