.ScenarioPage {
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: 1.5em;
}

.MonsterGroupTracker {
  flex: auto;
  margin: 1em;
}
