.ScenarioPage {
  font-size: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  padding: var(--vertical-spacing);
}

.MonsterGroupTracker {
  flex: none;
  margin: var(--vertical-spacing);
}
