:root {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #e0e0e0;
  --text-color-primary: rgba(0, 0, 0, 0.87);
  --text-color-secondary: rgba(0, 0, 0, 0.54);
  --text-color-hint: rgba(0, 0, 0, 0.38);
  --divider-color: rgba(0, 0, 0, 0.12);

  --elite-monster-color: yellow;
}
