.WelcomePage {
  font-size: 1rem;
  display: flex;
  height: 100%;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.WelcomePage-Content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: -10em;
}

.WelcomePage-Message {
  font-size: 2em;
  color: var(--text-color-secondary);
  text-align: center;
}

.WelcomePage-Message :first-child {
  font-size: 1.5em;
}

.WelcomePage-NewScenario {
  margin-top: 2em;
}
