.WelcomePage {
  font-size: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--vertical-spacing);
}

@media (min-height: 20rem) {
  .WelcomePage {
    height: 100%;
  }
}

.WelcomePage-Message,
.WelcomePage-Actions {
  flex: none;
}

.WelcomePage-Message {
  font-size: var(--font-size-large);
  color: var(--text-color-secondary);
  text-align: center;
}

.WelcomePage-Message :first-child {
  font-size: var(--font-size-extra-large);
}

.WelcomePage-Actions {
  margin-top: var(--vertical-spacing);
}
