.MonsterGroupsSelector {
  font-size: 1rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
}

.MonsterGroupsSelector-Actions {
  flex: none;
  padding: calc(0.5 * var(--vertical-spacing)) 0;
  padding-right: calc(1.5 * var(--vertical-spacing));
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MonsterGroupsSelector-List.Scrollable {
  --scrollable-overlay-color: var(--bg-color-secondary);
  margin-bottom: calc(0.5 * var(--vertical-spacing));
}
