.MonsterList {
  font-size: 1rem;
  overflow-y: auto;
  max-height: 100%;
}

.MonsterList-element {
  font-size: 2em;
  padding: 0.5em 1em;
  border-bottom: 1px solid lightgrey;
}

.MonsterList-element-clickable {
  cursor: pointer;
}

.MonsterList-element-clickable:hover {
  background-color: rgba(92, 92, 105, 0.1);
}

.MonsterList-element:first-child {
  border-top: 1px solid lightgrey;
}
